@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Josefin+Sans&family=Montserrat&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
